.canvas {
  height: 575px;
  width: 550px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playground {
  height: 525px;
  width: 525px;
  background-color: white;
  position: relative;
}

.robot {
  background-color: gray !important;
  height: 25px;
  width: 25px;
  position: absolute;
  transition: 1s;
}

.pelota {
  background-color: blue !important;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 100px;
}
